#resume-wrapper {
    display:flex;
    border: 1px solid #ddd;
    background-color:#fffffe;
    justify-content: space-between;
    padding: 1vw;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
@media(max-width:660px) {
    #resume-wrapper {
        flex-direction: column;
        box-shadow: none;
    }
}