.todo-list-wrapper {
    height: 30vh;
    overflow-y: scroll;
    width: 40vw;
    margin-bottom: 2vw;
    border: 1px solid hsl(0, 0%, 95%);
    padding: 2vw;
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-list-wrapper-dark {
    background-color: #282c34;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ddd;
    height: 3px;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
  }

  @media(max-width:660px) {
    .todo-list-wrapper {
      width:90vw;
      height: 20vh;
    }
  }