.portfolio-header-wrapper, .portfolio-header-name-wrapper, .portfolio-header-nav-wrapper  {
    display: flex;
}

.portfolio-header-wrapper {
    justify-content: space-around;
    position: fixed;
    top: 0;
    /* position: relative; */
    width: 100%;
    background-color: #FFF;
    padding: 1vw 0;
    z-index: 1000;
    padding-right: 10vw;
    box-shadow: 0 1px 10px #e5e6e7;
    align-items: center;
}

.portfolio-header-nav-wrapper {
    width: 35%;
    justify-content: space-between;
}

.portfolio-header-name-wrapper {
    align-items: center;
    width: 15%;
    justify-content: space-between;
}

.portfolio-header-name-wrapper > img {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-header-name-wrapper > h1 {
    margin:0;
}

.portfolio-header-nav-wrapper > a {
    text-decoration: none;
    color: #111;
    font-family: "Poppins-Medium";
    margin: 0;
}

@media(max-width:660px) {
    .portfolio-header-nav-wrapper {
        display: none;
    }

    .portfolio-header-name-wrapper > img {
        width:10vw;
        height: 10vw;
    }

    .portfolio-header-name-wrapper {
        width:50%;
        margin-top:2vw;
        margin-bottom: 2vw;
    }
}