.time {
    background-color : #282c34;
    display:flex;
    justify-content: center;
    align-items: center;
}

.time > p {
    color: #39ff14;
    margin: 2vw;
    font-size: 6vw;
    font-family:'Courier New', Courier, monospace;
}

@media(max-width:660px){
    .time > p {
        font-size: 12vw;
    }
}