.dice-current-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
    margin-top: 1vw;
    padding-bottom: 2vw;
}

#dice-current-dice-face {
    width:50px;
    height: 50px;
}

.dice-current-CTAs-wrapper {
    display: flex;
}

#dice-current-player-turn {
    font-family: "arcade";
    color: darkorange;
    margin-top: 0vw;
    margin-bottom: 0.5vw;
}

.dice-current-score {
    font-family: "ka1";
    color:darkslategray;
}

.dice-current-btn {
    background: #6e6565;
    border-bottom: 3px inset rgba(0, 0, 0, 0.5);
    border-left: 3px inset rgba(0, 0, 0, 0.5);
    border-right: 3px inset rgba(255, 255, 255, 0.5);
    border-top: 3px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6vw;
    margin: 0.5vw 1rem;
    font-family: "Arcade-Classic";
    padding: 0.5rem;
    width: auto;
  }

  .dice-current-btn:focus, .dice-current-btn:hover {
    background: #BCBCBC;
  }
  
  .dice-current-btn.dice-current-primary {
    background: #881400;
  }
  
  .dice-current-btn.dice-current-primary:focus, .dice-current-btn.dice-current-primary:hover {
    background: #A81000;
  }